<div >
  <div  >
    <table border="1"  style="width:50%; ">
      <tbody style="border: 1px;">
        <tr style="column-span: 3;">
          <td colspan="3" ;>
            <span style="font-size: 0.5em;">Transportadora: <%= carrierCompany.fantasy_name %></span>
            <br>
            <span  style="font-size: 0.5em;">CNPJ: <%= carrierCompany.cnpj %></span>
            <br>
            <span  style="font-size: 0.5em;">Inscrição Estatual: <%= carrierCompany.state_registration %></span>
            <br>
            <span  style="font-size: 0.5em;">
              Endereço:
              Rua: <%= carrierCompany.public_place %>
              <br>
              Numero: <%= carrierCompany.adress_number %>
              <br>
              Bairro: <%= carrierCompany.neighborhood %>
              <br>
              Cidede: <%= carrierCompany.city %>
              <br>
              Estado: <%= carrierCompany.uf %>
              <br>
              Telefone: <%= carrierCompany.first_phone%>


            </span>

          </td>
        </tr>
        <tr>
          <td>
            TIPO DO CT-E
            <br>
            cteData.cteType
          </td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td colspan="3">&nbsp;</td>

        </tr>
        <tr>
          <td colspan="3">&nbsp;</td>

        </tr>
        <tr>
          <td colspan="3">&nbsp;</td>

        </tr>
        <tr>
          <td colspan="3">&nbsp;</td>

        </tr>
        <tr>
          <td colspan="3">&nbsp;</td>

        </tr>
        <tr>
          <td colspan="3">&nbsp;</td>

        </tr>
        <tr>
          <td colspan="3">&nbsp;</td>

        </tr>
        <tr>
          <td colspan="3">&nbsp;</td>

        </tr>
        <tr>
          <td colspan="2">&nbsp;</td>
          <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>

  </div>
</div>

</body>
